<ion-view view-title="Sales Summary">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">From Date:</span>
        <input type="date">
      </label>
      <label class="item item-input">
        <span class="input-label">To Date:</span>
        <input type="date" value="startDate">
      </label>
      <label class="item">
        <button class="button button-block button-light" ng-click="getSalesSummary()"> 
           Get Summary
        </button>
      </label>
      <label class="item calm" ng-show="salesTotal">
        <h1 class="calm">${{salesTotal}}</h1>
      </label>
    </div>
  </ion-content>
</ion-view>
